<!DOCTYPE html>
<html lang="en"/>
<title>성구와 예지의 결혼식</title>

<head>
  <meta name="viewport" content="width=630px"/>
  <meta name="description" content="Wedding RSVP">
  <meta name="author" content="Seonggu Kim">
  <meta property="og:image" content="/source/jpg/invitation/comming_soon_photo_02.jpg">
  <meta property="og:description" content="Yeji & Seonggu's Wedding">
  <meta property="og:title" content="October 15th, 2022, 12PM">
  <link rel="shortcut icon" type="image/jpg" href="/source/png/hmb-favicon.png"/>
</head>

<script>
  if(!!window.performance && window.performance.navigation.type === 2) window.location.reload();
</script>