<!DOCTYPE html>
<html lang="en"/>
<title>Hoie.Kim</title>

<head>
  <meta name="viewport" content="width=630px"/>
  <meta name="description" content="Welcome to Hoie.Kim">
  <meta name="author" content="Hoie Kim">
  <meta property="og:image" content="/source/jpg/invitation/comming_soon_photo_02.jpg">
  <meta property="og:description" content="Annie & Hoie's Wedding">
  <meta property="og:title" content="March 7th, 2021, 12PM">
  <link rel="shortcut icon" type="image/jpg" href="/source/png/hmb-favicon.png"/>
</head>

<script>
  if(!!window.performance && window.performance.navigation.type === 2) window.location.reload();
</script>